/* 1 */
:root {
    --font-color: #333;
    --body-color: rgb(255, 255, 255);
    --link-color: cornflowerblue;
    --card-color: #ffffff;
    --paper-colour: rgb(235, 164, 31) !important;
    --input-colour: #333;
    --icon-colour: #333;
}

/* 2 */
[data-theme="dark"] {
    --font-color: #eee;
    --body-color: #333;
    --link-color: lightblue;
    --card-color: #333;
    --paper-colour: #333 !important;
    --input-colour: #fff;
    --icon-colour: #fff;
}

/* 3 */
body {
    background-color: var(--body-color) !important;
    color: var(--font-color) !important;
}

.cardColour,
.MuiMenu-paper, .tileColour {
    background-color: var(--card-color) !important;
}

.cardColour p {
    color: var(--font-color) !important;
}

.cardColour h5 {
    color: var(--font-color) !important;
}

table,
th,
.MuiTablePagination-root,
.MuiToolbar-gutters {
    background-color: var(--body-color) !important;
    color: var(--font-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
tr,
th,
td {
    color: var(--font-color) !important;
}

.MuiPaper-root {
    /* background-color: var(--paper-color) !important; */
}


a {
    color: var(--link-color);
}

.iconColour {
    color: var(--font-color) !important;
}

/* Custom Dark Mode Toggle Element */
.toggle-theme-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.toggle-theme-wrapper span {
    font-size: 28px;
}

.toggle-theme {
    position: relative;
    display: inline-block;
    height: 34px;
    width: 60px;
}

.toggle-theme input {
    display: none;
}

.slider {
    background-color: #ccc;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition: 0.2s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

input:checked+.slider {
    background-color: cornflowerblue;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}