/* 1 */
:root {
    --font-color: #333;
    --background-color: rgb(255, 255, 255);
    --link-color: cornflowerblue;
    --card-color: #ffffff;
    --drawer-colour: #f7f7f7;
    --input-colour: #333;
}

/* 2 */
[data-theme="dark"] {
    --font-color: #eee;
    --background-color: #333;
    --link-color: lightblue;
    --card-color: #292929;
    --drawer-colour: #333;
    --input-colour: #fff;
}

/* 3 */
body,
.drawerColour {
    background-color: var(--background-color);
    color: var(--font-color);
}

.cardColour {
    background-color: var(--card-color) !important;
}

.cardColour p {
    color: var(--font-color) !important;
}

.cardColour h5 {
    color: var(--font-color) !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--font-color) !important;
}

.drawerColour {
    background: var(--drawer-color) !important;
    color: green !important;
}

input[type="text"] {
    outline-color: var(--input-colour) !important;
    color: var(--input-colour);
}

a {
    color: var(--link-color);
}

.iconColour {
    color: var(--font-color) !important;
}

/* Custom Dark Mode Toggle Element */
.toggle-theme-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.toggle-theme-wrapper span {
    font-size: 28px;
}

.toggle-theme {
    position: relative;
    display: inline-block;
    height: 34px;
    width: 60px;
}

.toggle-theme input {
    display: none;
}

.slider {
    background-color: #ccc;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition: 0.2s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

input:checked+.slider {
    background-color: cornflowerblue;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}