@import "~react-image-gallery/styles/css/image-gallery.css";

.animalImage {
    border-radius: 10px;

}

.imageContainer {
    /* height: 400px; */
    /* width: 300px; */
}

.imageContainer img {
    width: 100%;
    
    overflow: hidden;
    object-fit: cover;
}